@model IEnumerable<Recognition_Board.Models.Recognitions>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2>Recognition Board</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeRecognizer.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.award)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeRecognized.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognizationDate)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.recognitionID }, new { @class = "glyphicon glyphicon-pencil" }) |
                @Html.ActionLink(" ", "Details", new { id = item.recognitionID }, new { @class = "glyphicon glyphicon-search" }) |

            </td>
        </tr>
    }

</table>
