@model IEnumerable<Recognition_Board.Models.EmployeeDetails>

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeLocation)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeID })
        </td>
    </tr>
}

</table>
